{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
        <section class="page-section">
            <div class="container">
                <h1 class="text-info text-lg-left font-weight-lighter" style="font-family: 'Calibri'">Login</h1>
            {{ form_start(form)}}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_label(form.email, 'Your Email') }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(form.password, 'Your Password') }}
                    {{ form_widget(form.password, { 'attr': {class:"form-control"}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_row(form.submit)}}
                </div>
            </div>
            {{ form_end(form) }}
            </div>
        </section>
{% endblock %}
