{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% for conference in conferences %}
        <h2><a href="{{ path('conference_vote', {'id':conference.conference.id}) }}">{{ conference.conference.name }}</a></h2>
        <p>{{ conference.conference.description }}</p>
        <p>Note: {{ conference.average }}</p>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(conferences) }}
    </div>
{% endblock %}
