{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h2>{{ conference.name }}</h2>
    <a href="{{ path('edit_conference', {'id':conference.id}) }}">Edit</a>
    <a href="{{ path('delete_conference', {'id':conference.id}) }}">Delete</a>
    {% if conference.description %}
        <p>{{ conference.description }}</p>
    {% endif %}
    <p>Note : {{ conference.average }}</p>
    <h3>Votes :</h3>
    {% if conference.votes|length > 0%}
        {% for vote in conference.votes %}
            <p>{{ vote.user.email }} - {{ vote.value }}</p>
        {% endfor %}
    {% else %}
        <p>Currently no votes for this conference</p>
    {% endif %}
{% endblock %}
