{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<section class="page-section">
    <div class="container">
        <h1 class="text-info text-lg-left font-weight-lighter" style="font-family: 'Calibri'">Manage users</h1>
    {% for user in users %}
        <div class="card w-50" style="width: 18rem; margin-bottom: 10px">
            <div class="card-body">
                <h5 class="card-title">{{ user.email }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Role: {% for role in user.roles %} {{ role }} {% endfor %}</h6>
                <p class="card-text">Firstname : {{ user.firstname }}</p>
                <p class="card-text">Lastname : {{ user.lastname }}</p>
                <a href="{{ path('admin_user', {'id':user.id}) }}" class="card-link">Details</a>
                <a href="{{ path('edit_user', {'id':user.id}) }}" class="card-link">Edit</a>
                <a href="{{ path('delete_user', {'id':user.id}) }}" class="card-link">Delete</a>
            </div>
        </div>
        <!--<div>
            <p>Prénom : {{ user.firstname }}</p>
            <p>Nom : {{ user.lastname }}</p>
            <p>Email : {{ user.email }}</p>
            <p>Role :
            {% for role in user.roles %}
                {{ role }}
            {% endfor %}
            </p>
            <p><a href="{{ path('admin_user', {'id':user.id}) }}">Details</a>
            <a href="{{ path('edit_user', {'id':user.id}) }}">Edit</a>
            <a href="{{ path('delete_user', {'id':user.id}) }}">Delete</a></p>
            ---------------------------
        </div>-->
    {% endfor %}
    </div>
</section>
{% endblock %}
