<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="/css/freelancer.min.css" rel="stylesheet">
        {% endblock %}
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('home') }}">Conf'UP</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive navbarSupportedContent ">
                    <ul class="navbar-nav ml-auto">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown ">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('admin_conferences') }}">Manage Conferences</a>
                                    <a class="dropdown-item" href="{{ path('create_conference') }}">Add Conference</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('admin_users') }}">Manage Users</a>
                                    <a class="dropdown-item" href="{{ path('create_user') }}">Add User</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('top-ten') }}">Top 10 Conferences</a>
                                </div>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('conference_voted') }}">Voted Conferences</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('conference_unvoted') }}">Unvoted Conferences</a>
                            </li>
                        {% elseif is_granted('ROLE_USER') %}
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('conference_voted') }}">Voted Conferences</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('conference_unvoted') }}">Unvoted Conferences</a>
                            </li>
                        {% else %}
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('register') }}">Register</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('login') }}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <form action="{{ path('search') }}" method="post" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" name="search" id="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </head>
    <body id="page-top" style="padding-top: 40px">
    {% block body %}g










    {% endblock %}
        {% block javascripts %}
            <!-- Bootstrap core JavaScript -->
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Contact Form JavaScript -->
            <script src="/js/jqBootstrapValidation.js"></script>
            <script src="/js/contact_me.js"></script>

            <!-- Custom scripts for this template -->
            <script src="/js/freelancer.min.js"></script>
        {% endblock %}
    </body>

</html>
