{% extends 'base.html.twig' %}

{% block title %}{{ conference.name }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="text-info text-lg-left font-weight-lighter" style="font-family: 'Calibri'">{{ conference.name }}</h1>
            <p>{{ conference.description }}</p>
            <p>Note : {{ average }}</p>
            {% if message %}
                <p>{{ message }}</p>
            {% else %}
                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="form-check form-check-inline">
                            {{ form_label(form.value, 'Your vote') }}
                            {{ form_widget(form.value) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary mb-2'}}) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
            {% endif %}
        </div>
    </section>
{% endblock %}
