{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}
    <h1>{{ conference.name }}</h1>
    <p>{{ conference.description }}</p>
    <p>Note : {{ conference.average }}</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
